<div class="paymnt-form">
    <div class="form-head">
        <h2>Make / Receive Payments</h2>
    </div>
    <div class="form-bdy">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="form-group clearfix">
                <label>Amount</label>
                <div class="rit">
                    <input type="text" formControlName="amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                    <div *ngIf="submitted && f.amount.errors" class="err">
                        <div *ngIf="f.amount.errors.required">Amount is required</div>
                        <div *ngIf="f.amount.errors.pattern">Enter only number</div>
                        <div *ngIf="f.amount.errors.balanceLimit">Entered Amount is more than Debit balance.</div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label>Date</label>
                <div class="rit">
                        <input type="text" matInput [matDatepicker]="picker" [max]="maxDate" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="submitted && f.date.errors" class="err">
                        <div *ngIf="f.date.errors.required">Date is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label>Payment Type</label>
                <div class="rit">
                    <select formControlName="paymentType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.paymentType.errors }">
                        <option value="Make Payment">Make Payment</option>
                        <option value="Receive Payment">Receive Payment</option>
                    </select>
                    <div *ngIf="submitted && f.paymentType.errors" class="err">
                        <div *ngIf="f.paymentType.errors.required">Payment Type is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label>Category</label>
                <div class="rit">
                    <select formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                        <option value="Medical">Medical</option>
                        <option value="Travel">Travel</option>
                        <option value="Loans">Loans</option>
                        <option value="Utility Bills">Utility Bills</option>
                        <option value="Education">Education</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Misc">Misc</option>
                    </select>
                    <div *ngIf="submitted && f.category.errors" class="err">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label>Description</label>
                <div class="rit">
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="err">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                </div>
            </div>
            <div>
                <button>Submit</button>

                <p *ngIf="success" class="success">Payment Successfull!!!</p>
            </div>
        </form>
    </div>
</div>