<app-header></app-header>
<div class="contnr clearfix">
    <app-payment-form></app-payment-form>
    <div class="transaction-brd">
        <div class="vw-trans">
            <div class="form-head">
                <h2>View Transactions</h2>
            </div>
            <div class="form-bdy clearfix">
                <div class="form-group">
                    <label class="clearfix">Frequency</label>
                    <div class="rit">
                        <select [(ngModel)]="frequency" (change)="getTransaction()" class="form-control" >
                            <option value="Current">Current</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="frequency == 'Monthly'">
                    <label class="clearfix">Month</label>
                    <div class="rit">
                        <select [(ngModel)]="month" class="form-control" (change)="getTransaction()" >
                            <option *ngFor="let item of last6monthsArray" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="clearfix">Category</label>
                    <div class="rit">
                        <select [(ngModel)]="category" class="form-control" (change)="getTransaction()">
                            <option  value="Medical">Medical</option>
                            <option value="Travel">Travel</option>
                            <option value="Loans">Loans</option>
                            <option value="Utility Bills">Utility Bills</option>
                            <option value="Education">Education</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Misc">Misc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="hdr-banner1 clearfix">
            <div class="form-head">
                <h2>Expenditure</h2>
            </div>
            <div class="bdy">
                <table>
                    <tbody>
                        <tr>
                            <th>Txn ID</th>
                            <th>Desc</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>D/C</th>
                        </tr>
                        <tr *ngFor="let transaction of transactionList">
                            <td>{{transaction.txnId}}</td>
                            <td>{{transaction.description}}</td>
                            <td>{{transaction.category}}</td>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.paymentType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hdr-banner2">
            <div class="form-head">
                <h2>Spend Analysis</h2>
            </div>
            <div class="bdy">
                
            </div>
        </div>
    </div>
</div>
